/*@font-face {
    font-family: "calligraffiti";
    src: url("../fonts/Calligraffiti-webfont.woff") format('woff');
}*/

.header {
  display: flex;
  flex: 0 0 50px;
  justify-content: center;
  align-items: center;
}

.innerHeader {
  width: 600px;
  height: 35px;
  background: rgba(255,255,255,0.6);
  padding: 3px 10px;
  border-radius: 5px;
  align-self: center;
}

.entries {
  align-self: center;
}
