/*@font-face {
    font-family: "calligraffiti";
    src: url("../fonts/Calligraffiti-webfont.woff") format('woff');
}*/


.heading {
  composes: italic-style from '../styles/fonts.css';
  color: blue;
}

.heading {
  /*font-family: calligraffiti;*/
  color: blue;
}
