.container {
  background-color: #eee;
  flex-direction: column;
  flex: auto;
}

.layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  flex: 0 0 25px;
  justify-content: flex-end;
  background-color: #eee;
}
